---
layout:      custom
title:       "Online Shoe Website Design - Free Figma Template"
display:     "Online Shoe Website Design"
permalink:   /figma-templates/nike-jordan-shoe-ecommerce-website/
date:        2024-10-28 12:00:00 -0700
description: 
tags:        figma
thumbnail:   /assets/templates/nike-shoe-website.jpg

---
<div class="in-cont pd-50 flex center">

    <div class="cont">
        <h1 class="mt-50">
            <span class="_400" style="font-size:14px">Figma Template</span> <br>
            Online Shoe Shop Website
        </h1>
        <p class="_14">
            This is the Nike category section of an online shoe shop I designed in Figma.
        </p>
        <a href="https://payhip.com/b/L0zAK" style="color:#000!important;background:#ECECEC!important;border:0!important;font-weight:500!important;" class="payhip-buy-button" data-product="L0zAK">Click To Download</a>
    </div>

    <div class="cont mw-600">
        <img src="/assets/templates/nike-shoe-website.jpg" alt="">
    </div>
</div>

<div class="in-cont">

    <h2>Why I Made This Online Shoe Website Design</h2>

    <p class="_16">I've had a fascination with Nike shoes my whole life. Nikes especially Jordans are one of my favorite shoes and probably some of the most recognizable of all times.</p>

    <p class="_16">"Do they look great?" Yes! "Do they look good on me?" No, my ankles are too big!</p>

    <p class="_16">Despite that I am fascinated by the the unique shapes and color combination. I enjoy these types of so much that I decided to design this online shoe shop that sells modern releases of these awesome retro sneakers.
    </p>

    <p class="_16">One of my favorite features on this design is the color pallet in the top left corner of every shoe option.  The pallet contains the main colors on each shoe. My goal with this pallet is to help the buyer pick out shoes to match based on outfits they already have. 
    </p>

    <p class="_16">An improvement I'd like to add in the future is to lengthen the color pallet bar and break it up based on the percentage of each color on the shoe. If the shoe has a black base then half the bar would be black and if the shoe has small amounts of colors or highlights then only about a fifth of the bar would be colored in.
    </p>

    <p class="_16">
        If you'd like some help making a websites that looks similar to the one above please feel free to send me an email or give me a call!
    </p>
</div>