---
layout:      custom
title:       "Free WordPress Pricing Table Figma Template"
display:     "WordPress Pricing Table"
permalink:   /figma-templates/wordpress-pricing-table/
date:        2024-10-28 12:00:00 -0700
description: 
tags: figma
thumbnail:   /assets/templates/wordpress-pricing-table-template.png
---
<div class="in-cont pd-50 center">

    
    <h1>WordPress Pricing Table Website Design</h1>

    <img src="/assets/templates/wordpress-pricing-table-template.png" alt="">

    <br>

    <a href="https://payhip.com/b/ecv2W" class="payhip-buy-button" style="background:#0A6AFA!important;border:0!important;" data-product="ecv2W">Download</a>


    <div class="cont mw-1000">
        <h2>What is this?</h2>

        <p class="_16">
            This is a WordPress pricing table design that I made to advertise WordPress website services. My aim with this design was to help ordinary people who don't know a whole lot websites visualize these types of services as a more off the shelf product rather than some complicated topic.
        </p>

        <p class="_16">
            What I've noticed is that their's a ton of people out there who want to start a website but the moment they go look into one they're bombarded with a ton of offers filled with jargon keywords that just don't make a whole lot of sense to them. This usually causes them to just keep day dreaming about the idea and eventually they push it to the back of their mind.
        </p>

        <p class="_16">
            What I've noticed is that their's a ton of people out there who want to start a website but the moment they go look into one they're bombarded with a ton of offers filled with jargon keywords that just don't make a whole lot of sense to them. This usually causes them to just keep day dreaming about the idea and eventually they push it to the back of their mind.
        </p>

        <p class="_16">
        My goal was to simplify the whole idea for them and include some of the main features and benefits.
        </p>

    </div> 


    <p class="_16">
        Each tier has different features and different price points.
    </p>

    
    <div class="cont br">
        <h3>Basic Package</h3>
        <p>- Free Domain + Free Hosting</p>
        <p>- 1 - 5 Custom Pages</p>
        <p>- Fundamental Tutoring</p>
    </div>

    <div class="cont br">
        <h3>Pro Package</h3>
        <p>- Free Domain + Free Hosting</p>
        <p>- 5 - 20 Custom Pages</p>
        <p>- WordPress and Google Search Console Tutoring</p>
        <p>- Monthly Maintenance for Up to a year</p>
    </div>

    <a href="/figma-templates/" target="_blank">Free Figma Templates</a>

</div>