---
layout:      custom
title:       "Car Importing Business Mobile Website Design - Free Figma Template"
display:     "Car Importing Business - Mobile Website Design"
permalink:   /figma-templates/car-honda-importer-mobile-website-design/
date:        2024-10-28 12:00:00 -0700
description: 
tags:        figma
thumbnail:   /assets/templates/car-importing-website.jpg
---

<div class="in-cont pd-50">

    <h1>Car Importing Business Mobile Website Design - Free Figma Template</h1>

    <img src="/assets/templates/car-importing-website.jpg" alt="">
    <br>

    <p class="_16">This is a website design I made for a car importing business.</p>
    <p class="_16">Importing car especially from Japan is becoming more popular</p>
    <p class="_16">With so many practical applications for these smaller more fuel effience cars I though it would be a good idead to make this website.</p>
    <a href="https://payhip.com/b/qZw4a" class="payhip-buy-button" data-theme="grey" data-product="qZw4a">Download</a>
    <p class="_16">
        What is this?
This is a mobile website design for a car importing/importer business. Kei cars are the smallest category of vehicles sold in Japan. The word 'Kei' translates to 'Light Automobile' in Japanese.

Kei cars specifically Kei trucks are small work utility vehicles that are becoming sought after in the United States especially among the rural population.

Some of the reasons Kei Trucks are becoming more popular in America is because of their practicality, their fuel efficiency, & their low cost of maintenance. 

I've noticed a lot of people buying these and figured that using a Kei Truck would be fitting for this type of business and design.

To make this I took inspiration from automotive website designs I found online along with some personal knowledge about the type of information you want to see when your shopping for cars online and this is what I came up with.

I spend a few hours designing the layout and spend another hour or two making the logo look as cool as possible.  I used 'League gothic' for the big 'IMPORTER' text on top and translated 'car imported' to Japanese text and placed it right underneath.

For about 5,000 American Buckaroos you can get yourself a decent low mileage 550cc 3 cylinder gas sipper to help you easily maneuver around your lot.

Tell me what you think below, I enjoy hearing feedback from other!
    </p>
    <br>

</div>