---
layout:       custom
title:        "Web Design Agency - Free Figma Template"
display:      "Web Design Agency"
permalink:    /figma-templates/web-agency-design/
date:         2024-10-28 12:00:00 -0700
description: 
tags:         figma
thumbnail:    /assets/templates/web-design-agency.png

---
<div class="in-cont pd-50 center">

    <!-- Hero -->
    <div class="flex">
        <div class="mb-10">
            <p class="mt-100 _14 _500">Free Figma Template</p>
            <h1 class="_24">Web Design Agency Landing Page</h1>
            <a href="https://payhip.com/b/qZw4a" class="payhip-buy-button" data-theme="" data-product="qZw4a" style="background:#C73636!important;border:0!important;;">Download</a>
        </div>
       
        <div class="mw-700">
            <img src="/assets/templates/web-design-agency.png" alt="">
        </div>
    </div>

    <br>

    <div class="cont mw-600">
        <p class="_14">
            This is a landing page for a web design agency that I made in Figma.
        </p>
    
        <p class="_14">
            If you want to download this template and edit it in Figma, click the link underneatht the image to begin the download process.
        </p>
    </div>
    
</div>