---
layout:      custom
title:       "Construction Company Website Design - Free Figma Template"
display:     "Construction"
permalink:   /figma-templates/construction-company-website-design/
date:        2024-10-28 12:00:00 -0700
description: 
tags: figma
thumbnail: /assets/templates/construction-company-website.png

---
<div class="in-cont pd-50 center">

    <h1>Construction Company Website Design</h1>

    <img src="/assets/templates/construction-company-website.png" alt="">
    <br>
    <a href="https://payhip.com/b/xWrJF" class="payhip-buy-button" style="background:#333!important;border:0!important;padding:20px!important;" data-product="xWrJF">Download</a>

    <br>

    <p>This is a website design for a Construction company. You can download it free for Figma.    </p>

   


</div>