---
layout:       custom
title:        "Web Design Agency - Free Figma Template"
display:      "Web Design Agency"
permalink:    /figma-templates/web-agency-design/
date:         2024-10-28 12:00:00 -0700
description: 
tags:         figma
thumbnail:    /assets/templates/web-design-agency.png

---
<div class="in-cont pd-50 center">

    <h1>Web Design Agency - Free Figma Template</h1>

    <img src="/assets/templates/web-design-agency.png" alt="">
    <br>
    <a href="https://payhip.com/b/qZw4a" class="payhip-buy-button" data-theme="grey" data-product="qZw4a"style="backgorund-color:#000!important;">Download</a>

    <br>

    <p class="_16">This is a landing page for a web design agency that I made in Figma.</p>

    <p class="_16">If you want to download this template and edit it in Figma, click the link underneatht the image to begin the download process.</p>
    
</div>