---
layout:      custom
title:       "Photographer Website Design - Figma Template"
display:     "Photographer Website Design"
permalink:   /figma-templates/photography-website-design/
date:        2024-10-28 12:00:00 -0700
description: 
tags: figma
thumbnail:   /assets/templates/photographer-landing-page.png

---
<div class="in-cont center pd-50">

    <div class="flex">
        <div>
            <p class="mt-100 _14">Figma Template</p>
            <h1 class="_24">Photographer Website Design</h1>
            <a href="https://payhip.com/b/4PYsV" class="payhip-buy-button mb-50" data-theme="grey" data-product="4PYsV">Download</a>
        </div>
        <div>
            <img style="max-width:800px;" class="mb-25" src="/assets/templates/photographer-landing-page.png" alt="">
        </div>
    </div>


    <h2 class="mb-25">What is this?</h2>
    This is a website design that I made for a photographer. 

    <p class="_16">Click Here To Download the Figma File</p>

</div>