---
layout:      custom
title:       "Website Starter Package Landing Page- Free Figma Template"
display:     "Website Starter Package Landing Page"
permalink:   /figma-templates/website-starter-package-landing-page/
date:        2024-10-28 12:00:00 -0700
description: A Landing Page 
tags:        figma
thumbnail:   /assets/templates/website-starter-package.jpg

---
<div class="in-cont pd-50 center">

    <h1>Website Starter Package Landing Page - Free Figma Template</h1>

    <img src="/assets/templates/website-starter-package.jpg" alt="">
    <br>
    <a href="https://payhip.com/b/qZw4a" class="payhip-buy-button mb-25" data-theme="grey" data-product="qZw4a">Download</a>

    <br>

    <h1>What is this?</h1>
    <p class="_16">
        This is a landing page I made in Figma. It offers a website starter package in the Brea, California area.  I designed this webpage/service for beginners who are interested in starting a website.  It contains a lot of basic essential and design services to get up and running in no time.

        Often times the concepts and vocabulary around website development can put off people who simply just want a website but don't want to learn the technology.

        My goal for this landing page was to help make website design services look more like a product you can order or buy on a shelf.
    </p>
    <p></p>

    <p class="_16">
        Click the link underneatht the image to download this file for Figma.
    </p>

</div>