---
layout:       custom
title:       "Birthday Invitation - Free Figma Template"
display:     "Birthday Invitation"
permalink:   /figma-templates/birthday-invitation/
date:         2024-10-27 20:00:00 -0700
description: 
tags: figma
thumbnail: /assets/templates/figma-invitation-template.png
---
<div class="in-cont center">

    <div class="cont flex">

        <div class="cont">
            <h1 class="_400 pd-50 _32">Birthday Invitation - Free Figma Template</h1>
            <a href="https://payhip.com/b/KgCtq" class="payhip-buy-button" data-product="KgCtq" style="color:#fff;background:#002B6B!important;border:0!important;padding:10px!important;">Download</a>
        </div>

        <img class="mw-50" src="/assets/templates/figma-invitation-template.png" alt="">

    </div>



    <p class="_16">This is a birthday invitation card design I made in Figma, feel free to duplicate it! I hope this helps you and that you learn something new.</p>

    <h2>Why I Made This Birthday Invitation Card Design</h2>

</div>