---
layout:      custom
title:       "Website Starter Package Landing Page- Free Figma Template"
display:     "Website Starter Package Landing Page"
permalink:   /figma-templates/website-starter-package-landing-page/
date:        2024-10-28 12:00:00 -0700
description: A Landing Page 
tags:        figma
thumbnail:   /assets/templates/website-starter-package.jpg

---
<div class="in-cont pd-50">

    <h1>Website Starter Package Landing Page - Free Figma Template</h1>

    <img src="/assets/templates/website-starter-package.jpg" alt="">
    <br>
    <a href="https://payhip.com/b/qZw4a" class="payhip-buy-button mb-25" data-theme="grey" data-product="qZw4a">Download</a>

    <br>

    <p class="_16">
        This is a landing page I designed in Figma. The landing page advertises web design services.
    </p>

    <p class="_16">
        Click the link underneatht the image to download this file for Figma.
    </p>

</div>