<nav class="in-cont flex center">

    <a class="logo br" href="/">
        <span>Ruben Gutierrez</span>
    </a>

    <div class="links flex">
        <li><a class="_12" href="/">Home</a></li>
        <li><a class="_12" href="/about/">About</a></li>
        <li><a class="_12" href="/blog/">Blog</a></li>
        <li><a class="_12" href="/figma-templates/">Figma</a></li>
        <li><a class="_12" href="/websites/">Websites</a></li>
    </div>

    <div class="off-screen-menu">
        <ul>
            <li class="mb-50"><a href="/">Home</a></li>
            <li class="mb-50"><a href="/about/">About</a></li>
            <li class="mb-50"><a href="/blog/">Blog</a></li>
            <li class="mb-50"><a href="/figma-templates/">Figma</a></li>
            <li class="mb-50"><a href="/websites/">Webites</a></li>
        </ul>
        <div class="social text-center">
            <a class="_12" href="https://www.behance.net/ruben__gutierrez" target="_blank">Behance</a>
            <a class="_12" href="https://www.x.com/rubengutierre_z" target="_blank">Twitter</a>
            <a class="_12" href="https://www.dribbble.com/ruben_gutierrez" target="_blank">Dribbble</a>
        </div>
    </div>

    <div class="ham-menu-outter">
        <div class="ham-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>

