<div class="in-cont nav">
    
    <!-- Logo -->
    <a href="/">
        <div class="logo">
            <span class="_14">Ruben</span>  
            <span class="_14">Gutierrez</span>
        </div>
    </a>

    <!-- Link -->
    <ul class="links">
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="/about/">About</a>
        <a href="/figma-templates/">Figma</a>
    </ul>

    <!-- Donate Link -->
    <a class="dbox-donation-button _14 _500" id="preview_inline_popup_button" href="https://donorbox.org/donos-60?default_interval=o" style="color: #000; border: 1px solid #000;text-decoration: none; font-family: Verdana, sans-serif; display: flex; font-size:0.875em; padding: 5px 7.5px; border-radius: 5px; gap: 8px; width: fit-content; line-height: 24px;border-radius:0;font-weight:500!important;"><span class="cta-label" style="font-family: inherit; font-size: inherit;">Donate</span></a>

</div>
    