<nav class="in-cont flex">

    <a href="/">
        <div class="logo br">
            <span>Ruben Gutierrez</span>
        </div>
    </a>

    <div class="links flex">
        <li><a class="_12" href="/">Home</a></li>
        <li><a class="_12" href="/about/">About</a></li>
        <li><a class="_12" href="/blog/">Blog</a></li>
        <li><a class="_12" href="/figma-templates/">Figma</a></li>
        <li><a class="_12" href="/tutorials/">Tutorials</a></li>
    </div>

    <div class="off-screen-menu">
        <ul>
            <li class="mb-50"><a href="/">Home</a></li>
            <li class="mb-50"><a href="/about/">About</a></li>
            <li class="mb-50"><a href="/blog/">Blog</a></li>
        </ul>
    </div>

    <div class="ham-menu-outter">
        <div class="ham-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>

