<div class="cont footer mb-100 center text-center pd-50">
    <h4 class="_18 _500 mb-40">
        <span class="_12">Author</span> <br>
        Ruben Gutierrez
    </h4>
    
    <p class="_12 mw-300 center mt-10">Ruben Gutierrez is a technology enthusiast from the Greater Los Angeles, California, area.</p>

    <div class="social">
        <a class="_12" href="https://www.behance.net/ruben__gutierrez" target="_blank">Behance</a>
        <a class="_12" href="https://www.x.com/rubengutierre_z" target="_blank">Twitter</a>
        <a class="_12" href="https://www.dribbble.com/ruben_gutierrez" target="_blank">Dribbble</a>
    </div>
</div>