.about-title {
    border-bottom: 1px solid #ccc;
}

.about {


    .skills {
        display: flex;
        flex-wrap: wrap;

        @media(min-width:700px){
            justify-content: space-between;
        }

        div {
            margin-bottom: 100px;
            @media(min-width:700px){
                width: 45%;
            }
        }
       
    }
}



