.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(min-width:$ph){
        flex-direction: row;
    }
    
    li {
        width: 100%;
        // Seperates Blog Posts at 600px
        @media(min-width:600px){max-width: 400px;}

      


        .read-more {
            border: 2px solid black;
            color: #000;
            text-align: center;
            height: 60px;
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            font-weight: 600;

            &:hover {
                background: black;
                transition: .25s ease;
                color: #fff;
            }
        }
    }
}

.bt{font-size:1em;line-height:130%;margin-bottom:10px;@media(min-width:$lt){font-size:1.5rem;};}
