.blog {

    @media(min-width:$ph){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    li {
        width: 100%;
        margin-bottom: 75px;
        // Seperates Blog Posts at 600px
        @media(min-width:600px){width: 40%;}
    }
}

.bt{font-size:1em;line-height:130%;margin-bottom:10px;@media(min-width:$lt){font-size:1.5rem;};}
