.blog {

    @media(min-width:$ph){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    li {
        width: 100%;
        margin-bottom: 75px;
        padding: 20px;

        @media(min-width:$ph){
            width: 45%;
        }

        @media(min-width:$dt){
            width: 23.5%;
        }

        h2 {
            height: 80px;
        }
    }
}

.bt{font-size:1em;line-height:130%;margin-bottom:10px;@media(min-width:$lt){font-size:1.5rem;};}
