.nav {
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-bottom: .1px solid #cccccc !important;
   
    a {
        color: #000;
        text-decoration: none;

        .logo {
            font-weight: 500;
            padding: 5px 7.5px;

          
    
            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }

    ul {
        width: 80%;
        max-width: 250px;
        display: flex;
        justify-content: space-between;

        a {
            font-size: 14px;
            font-weight: 500;
    
            &:hover {
                text-decoration: underline;
            }

            @media(min-width:$lt){
                font-size: 12px;
            }
        }
    }
}
