.default {padding:0;margin:0;}

// Flexbox
.flex {@media(min-width:$ph){display: flex;justify-content:space-between;}}

// Margins - Spacing
.mb-10  {margin-bottom:10px;}   // Margin Bottom =  10px
.mb-20  {margin-bottom:20px;}   // Margin Bottom =  30px
.mb-30  {margin-bottom:30px;}   // Margin Bottom =  50px
.mb-40  {margin-bottom:40px;}   // Margin Bottom =  75px
.mb-50  {margin-bottom:50px;}   // Margin Bottom =  75px
.mb-75  {margin-bottom:75px;}   // Margin Bottom =  75px

.mb-100 {margin-bottom:100px ;}  // Margin Bottom = 100px
.mt-10  {margin-top:10px;}     // Margint Top   = 100px
.mt-25  {margin-top:25px;}     // Margint Top   = 100px
.mt-50  {margin-top:50px;}     // Margint Top   = 100px
.mt-100 {margin-top:100px;}     // Margint Top   = 100px
.mt-30  {margin-top:30px;}      // Margint Top = 30px

// Borders
 .br {border: 1px solid black !important;}       // br = Border 1px
 .bb {border-bottom: 1px solid #ccc !important;} // bb = Border Bottom 1px

// Padding
.paa-10 {padding: 10px;}                        // paa = padding all around (10px)
.paa-20 {padding: 30px;}
.pd-50  {padding-top: 50px !important;padding-bottom: 50px !important;}
.pd-100 {padding-top: 100px; padding-bottom: 100px;}
.pd-200 {padding-top: 200px; padding-bottom: 200px;}
.up-10  {padding: 10px;} // Univeral Padding 10px
.title-p {padding-top: 100px; padding-bottom: 25px;}


//Center 
.center {margin-left: auto;margin-right:auto;}


// Width
.mw-300  {max-width: 300px!important;}
.mw-50   {max-width: 50% !important;}
.mw-500  {max-width: 500px!important;}
.mw-600  {max-width: 600px!important;}
.mw-700  {max-width: 700px!important;}
.mw-1000 {max-width: 1000px !important;}

.button {padding:5px 7.5px;text-decoration: none;}


.center {margin-left: auto; margin-right:auto;}
.text-center {    text-align: center;}