body {font-family: "SUSE", sans-serif;}
// Headings Sizing     // Laptop                                  // Desktop
h1 {font-size:2.000em;  @media(min-width:$lt){font-size:2.500em;}; @media(min-width:$dt){font-size:2.5em;}}
h2 {font-size:1.375em;  @media(min-width:$lt){font-size:1.675em;}; @media(min-width:$dt){font-size:1.75em;}} 
h3 {font-size:1.250em;  @media(min-width:$lt){font-size:1.550em;}}
h4 {font-size:1.125em;  @media(min-width:$lt){font-size:1.250em;}}

// Custom Fonts
._12 {font-size: .7500em;  @media(min-width:$lt){font-size:0.875em;};}
._14 {font-size: .8750em;}
._16 {font-size: 1.000em;}
._18 {font-size: 1.125em;}
._20 {font-size: 1.250em;  @media(min-width:$lt){font-size:1.375em;};}
._24 {font-size: 1.500em;  @media(min-width:$lt){font-size:1.750em;}}
._32 {font-size: 2.000em !important;  @media(min-width:$lt){font-size:2.250em;};}
._40 {font-size: 2.500em;  @media(min-width:$lt){font-size:3.000em;};}
._48 {font-size: 3.000em;  @media(min-width:$lt){font-size:3.250em;};}


._300 {font-weight: 300;}
._400 {font-weight: 400;}
._500 {font-weight: 500;}
._600 {font-weight: 600;}
._700 {font-weight: 700;}

// Headers Styling
h1,h2,h3,h4 {font-weight: 300;margin-bottom:20px;line-height: 150%;}

// Paragraph 
p {font-size:1.25em;line-height:160%;margin-bottom:10px;}

// Giant Title
