---
layout: default
---

<article class="post cont" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="in-cont post-header title-p mb-50">


    <!-- Time -->
    <p class="_12">

    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format }}</time>
      {%- if page.modified_date -%}
      ~ 
      {%- assign mdate = page.modified_date | date_to_xmlschema -%}
      <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">{{ mdate | date: date_format }}</time>
    {%- endif -%}

    </p>

    <!-- Post Title -->
    <h1 class="_36 _300 " itemprop="name headline">{{ page.title | escape }}</h1>

  </header>

  <div class="cont mb-100" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <script src="/assets/js/app.js"></script>

</article>